node_modules
build
npm-debug.log
.env
.DS_Store
/coverage
/.idea/
/dist/
/lib/
.sfdx/

# Added by Illuminated Cloud
.localdev/
/IlluminatedCloud/
/out/
target/
/.illuminatedCloud/
**/tsconfig*.json
**/*.tsbuildinfo