node_modules
build
npm-debug.log
.env
.DS_Store
/coverage
/.idea/
/dist/
/lib/
.sfdx/
.wireit/

# Added by Illuminated Cloud
.localdev/
/IlluminatedCloud/
/out/
target/
/.illuminatedCloud/
**/*.tsbuildinfo

**/graphql.config.yml

**/tsconfig*.json